@using RenderAndPreviewHTML.Common;
@model RenderAndPreviewHTML.Web.ViewModels.Render.RenderViewModel

@{
    ViewData["Title"] = "Write down your HTML here.";
    ViewData["Title2"] = "Your HTML output here.";
}

<div class="row mb-4">
    <div class="col-sm-12 offset-md-1 col-md-10 text-md-center offset-ld-2 col-ld-8 text-ld-center">
        <h2>Using <b class="text-info">@GlobalConstants.SystemName</b> application you can write, render and save HTML into database.</h2>
        <hr />
    </div>
</div>

@*<div class="form-row mb-3 text-md-center text-danger">
    <b>@TempData["hasSame"]</b>
    <b>@TempData["isUnique"]</b>
</div>*@

<div class="form-group col-md-12 text-md-center mb-4">
    <div class="alert alert-warning alert-dismissible">
        <strong>INFO!</strong> @TempData["hasSame"] @TempData["isUnique"]
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <form method="post" asp-action="SaveHtml" asp-controller="Render">
            <h6>@this.ViewData["Title"]</h6>
            <textarea id="input" asp-for="Content" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
            <input type="hidden" id="hidden-id" name="id" value="@(Model?.Id??0)" />

            <p class="text-primary mb-3">Press the button <b>RUN</b> to render the the HTML.</p>
            <button id="runbtn" type="button" class="btn btn-primary text-uppercase mb-3">Run</button>

            <p class="text-primary mb-3">Press the button <b>SAVE</b> to save the HTML you have written into the database.</p>
            <button type="submit" class="btn btn-primary text-uppercase">Save</button>
        </form>
    </div>

    <div class="form-group col-md-6">
        <h6>@this.ViewData["Title2"]</h6>
        <div id="output" contenteditable="false" style="width: 100%; height:56%; border: 1px solid #ccc; padding: 5px;"></div>

        <form method="post" asp-action="CheckOriginal" asp-controller="Render">
            <input type="hidden" id="check-origin" asp-for="Content" class="form-control" />
            <input type="hidden" id="check-origin-id" name="id" value="@(Model?.Id??0)" />

            <p class="text-primary mb-3">Press the button <b>CHECK ORIGINAL</b> to check whether the HTML you have written is already exists into the database.</p>
            <button id="checkbtn" type="submit" class="btn btn-primary text-uppercase">Check original</button>
        </form>
    </div>
    <br />
</div>

@section scripts{
    <script>
        // Render Html
        $(function () {
            $('#runbtn').click(renderHtml);

            if ($('#input').val()) {
                renderHtml();
            }
        });
        function renderHtml() {
            $('#output').html($('#input').val());
        }
    </script>

    <script>
        // Get value from textarea
        $(function () {
            $('#checkbtn').click(
                function () {
                    // Assign value if new
                    $('#check-origin').val($('#input').val());
                    // Assign value if edit existing one
                    $('#check-origin-id').val($('#hidden-id').val())
                }
            );
        });
    </script>

    @*<script>
        $(document).ready(function () {

            // This function called when the button is clicked
            $("#checkbtn").click(function () {

                // val() method is used to get the values from
                // textarea and stored in txt variable
                var txt = $("#input").val();

                // This show message on the UI
                alert(txt);
            });
        });
    </script>*@
}